.spellListButton
{
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.spellListButton:hover
{
    //-fx-text-fill: #F22D2D;
    -fx-text-fill: red;
}
.spellListButton:pressed
{
    -fx-background-color: 
        linear-gradient(to top, #686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(to top, #020b02, #3a3a3a),
        linear-gradient(to top, #b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
	linear-gradient(to top, #f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
}
.itemListButton
{
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.itemListButton:hover
{
    //-fx-text-fill: #F22D2D;
    -fx-text-fill: red;
}
.itemListButton:pressed
{
    -fx-background-color: 
        linear-gradient(to top, #686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(to top, #020b02, #3a3a3a),
        linear-gradient(to top, #b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
	linear-gradient(to top, #f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
}
.BattleEnd
{
	-fx-font-family: "Helvetica";
	-fx-font-size: 30px;
}
.BattleEnd.label .text
{
    -fx-text-fill: #91fe5a; //lightseagreen;
    //-fx-text-fill: red; //lightseagreen;
    -fx-stroke: #DDFDCE; // lesser lightseagreen
    -fx-stroke-width: 2px;
}
.BattleEnd2
{
	-fx-font-family: "Helvetica";
	-fx-font-size: 30px;
}
.BattleEnd2.label .text
{
    -fx-text-fill: #91fe5a; //lightseagreen;
    -fx-stroke: #DDFDCE; // lesser lightseagreen
    -fx-stroke-width: 2px;
}
.BattleEnd2:hover
{
    -fx-font-weight: bold;
}
.actionButton
{
  //-fx-background-color: #ff0000;
  -fx-border-radius: 50px;

  -fx-font-family: Courier New;
  -fx-text-color: #204ce6;
  -fx-font-size: 30px;
  //-fx-padding: 10px 20px 10px 20px;
  -fx-border: solid #f06969 2px;
  -fx-stroke: #c6e7f5;
  -fx-stroke-width: 3px;
  -fx-text-shadow:rgb(198, 231, 245) 3px 0px 0px, rgb(198, 231, 245) 2.83487px 0.981584px 0px, rgb(198, 231, 245) 2.35766px 1.85511px 0px, rgb(198, 231, 245) 1.62091px 2.52441px 0px, rgb(198, 231, 245) 0.705713px 2.91581px 0px, rgb(198, 231, 245) -0.287171px 2.98622px 0px, rgb(198, 231, 245) -1.24844px 2.72789px 0px, rgb(198, 231, 245) -2.07227px 2.16926px 0px, rgb(198, 231, 245) -2.66798px 1.37182px 0px, rgb(198, 231, 245) -2.96998px 0.42336px 0px, rgb(198, 231, 245) -2.94502px -0.571704px 0px, rgb(198, 231, 245) -2.59586px -1.50383px 0px, rgb(198, 231, 245) -1.96093px -2.27041px 0px, rgb(198, 231, 245) -1.11013px -2.78704px 0px, rgb(198, 231, 245) -0.137119px -2.99686px 0px, rgb(198, 231, 245) 0.850987px -2.87677px 0px, rgb(198, 231, 245) 1.74541px -2.43999px 0px, rgb(198, 231, 245) 2.44769px -1.73459px 0px, rgb(198, 231, 245) 2.88051px -0.838247px 0px;
}

.actionButton:hover 
{
  -fx-background-color: #ffb700;
}