.spellListButton
{
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.spellListButton:hover
{
    //-fx-text-fill: #F22D2D;
    -fx-text-fill: red;
}
.spellListButton:pressed
{
    -fx-background-color: 
        linear-gradient(to top, #686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(to top, #020b02, #3a3a3a),
        linear-gradient(to top, #b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
	linear-gradient(to top, #f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
}
.itemListButton
{
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.itemListButton:hover
{
    //-fx-text-fill: #F22D2D;
    -fx-text-fill: red;
}
.itemListButton:pressed
{
    -fx-background-color: 
        linear-gradient(to top, #686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(to top, #020b02, #3a3a3a),
        linear-gradient(to top, #b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
	linear-gradient(to top, #f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
}
.BattleEnd
{
	-fx-text-fill: #696969;
	-fx-font-family: "Helvetica";
	-fx-font-size: 30px;
}
.BattleEnd.label .text
{
    -fx-stroke: #DDFDCE; // lesser lightseagreen
    -fx-stroke-width: 2px;
}
.BattleEnd2
{
	-fx-font-family: "Helvetica";
	-fx-font-size: 30px;
	-fx-text-fill: #696969;
}
.BattleEnd2.label .text
{
    
    -fx-stroke: #DDFDCE; // lesser lightseagreen
    -fx-stroke-width: 2px;
}
.BattleEnd2:hover
{
    -fx-font-weight: bold;
}
.actionButton
{
    	-fx-background-insets: 0,1,4,5;
	-fx-background-radius: 30;
    	-fx-padding: 15 30 15 30;
    	-fx-font-family: "Helvetica";
    	-fx-font-size: 30px;
    	-fx-font-weight: bold;
    	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.attackButton
{
  	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgba(242,26,26,1), rgba(242,196,6,1));
	-fx-text-fill: rgba(0,191,255,1);
}
.attackButton:hover 
{
  -fx-background-color: radial-gradient(center 50% 50%, radius 80%, rgba(242,26,26,1), rgba(242,196,6,1));
}
.attackButton:pressed 
{
  -fx-background-color: rgba(242,26,26,1);
}
.spellButton
{
  	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgba(26,242,232,1), rgba(29,6,242,1));
	-fx-text-fill: rgba(255,69,0,1);
}
.spellButton:hover 
{
  -fx-background-color: radial-gradient(center 50% 50%, radius 80%, rgba(26,242,232,1), rgba(29,6,242,1));
}
.spellButton:pressed 
{
  -fx-background-color: rgba(0,191,255,1);
}
.itemButton
{
  	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgba(13,144,15,1), rgba(237,255,4,1));
	-fx-text-fill: rgba(139,0,139,1);
}
.itemButton:hover 
{
  -fx-background-color: radial-gradient(center 50% 50%, radius 80%, rgba(13,144,15,1), rgba(237,255,4,1));
}
.itemButton:pressed 
{
  -fx-background-color: rgba(0,100,0,1);
}
.escapeButton
{
  	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgba(252,136,215,1), rgba(66,0,69,1));
	-fx-text-fill: rgba(124,252,0,1);
}
.escapeButton:hover 
{
  -fx-background-color: radial-gradient(center 50% 50%, radius 80%, rgba(252,136,215,1), rgba(66,0,69,1));
}
.escapeButton:pressed 
{
  -fx-background-color: rgba(255,192,203,1);
}
.list-cell.PlayerReport
{
	-fx-background-color: linear-gradient(to right, rgba(3,204,205,1), rgba(25,249,55,1));
	-fx-text-fill: #B22222;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-stroke: #FFFFFF;
	-fx-font-style: italic;
}
.list-cell.MonsterReport
{
	-fx-background-color: linear-gradient(to right, rgba(252,121,34,1), rgba(233,35,35,1));
	-fx-text-fill: #0000CD;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-stroke: #000000;
	-fx-font-style: italic;
}
.list-cell.SystemReport
{
	-fx-background-color: linear-gradient(to right, rgba(255,255,255,1), rgba(0,0,0,1));
	-fx-text-fill: #FF4500;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-stroke: #FF0000;
	-fx-font-style: italic;
}
.list-cell.Fill
{
	-fx-background-color: linear-gradient(to right, rgba(255,255,255,1), rgba(0,0,0,1));
}