.epilogue.label .text
{
 -fx-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
-fx-font-size: 40px;
-fx-letter-spacing: 0px;
-fx-word-spacing: 0px;
-fx-text-color: #E1EF0C;
-fx-font-weight: 700;
-fx-text-decoration: none solid rgb(68, 68, 68);
-fx-font-style: italic;
-fx-font-variant: normal;
-fx-text-transform: none;
}